<?xml version="1.0" encoding="utf-8"?>	
	
<launch>
  <!-- X_View_Reader configuration file -->
  <arg name="x_view_configuration_file" default="$(find x_view_bag_reader)/cfg/x_view_bag_reader.yaml"/>
  	
  <!-- ROS parameters -->
  <rosparam command="load" file="$(arg x_view_configuration_file)"/>

  <!-- X_View bag reader -->
  <node name="x_view_bag" pkg="x_view_bag_reader" type="x_view_bag"
    output="screen"/>

</launch>